.containerForm {
  background-image: url('https://img.freepik.com/premium-vector/global-network-connection-world-map-point-line-composition-concept-global-business-vector-illustration_115579-1480.jpg?w=996');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  color: rgb(247, 246, 250);
}