body {
  background-image: url('https://img.freepik.com/free-vector/atomic-science-technology-background-vector-border-gray-neon-style-with-blank-space_53876-114116.jpg?w=2000&t=st=1667606136~exp=1667606736~hmac=331210a2a37f4c3885f6f052b17cfa1d6038036729be3c6073ccfe6775990b17');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  color: rgb(10, 14, 47);
}
